{% section 'header' %}

<form action="/cart" method="post" novalidate class="cart-page">
  <div class="width">
    
    {% if cart.item_count > 0 %}
      <header class="cart-header caps">
        <h1>your cart</h1>
        <p><span>{{cart.item_count }}</span> items</p>
      </header>

      <div class="cart-items">
        {% for item in cart.items %}
          <div class="cart-item caps">
            <div class="cart-item-image">
              <img src="{{ item | img_url: 'master' }}">
            </div>

            <div class="cart-item-quantity">
              <div class="quantity-selector" data-id="{{ item.variant_id }}">
                <button type="button" class="quantity-selector-down">-</button>
                <span class="quantity-selector-value">{{ item.quantity}}</span>
                <button type="button" class="quantity-selector-up">+</button>
              </div>
            </div>

            <div class="cart-item-title">
              <h2>
                <a href="{{ item.url }}">
                  <span class="mobile">{% include 'home-hero-text-mobile.svg' %}</span>
                  <span class="desktop">{% include 'home-hero-text.svg' %}</span>
                </a>
              </h2>
            </div>
            <div class="cart-item-price"><h3>{{ item.price | money }}</h3></div>
          </div>
        {% endfor %}
      </div>

      <div class="cart-subtotal caps">
        <h2>Subtotal: {{ cart.total_price | money }}</h2>
        <h2>Shipping: Free</h2>
      </div>

      <div class="cart-bottom caps">
        <h2>Total</h2>
        <h2 class="green">{{ cart.total_price | money }}</h2>
      </div>

      <button type="submit" name="checkout" class="button caps white full cart-checkout">Checkout</button>

    {% else %}
      <div class="cart-empty caps">
        <h1>cart</h1>
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      </div>
    {% endif %}
  </div>
</form>
